@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');

:root {
    --page-bg: hsl(207, 95%, 8%);
    --container-bg: linear-gradient(to right, hsl(276 28% 45%), hsl(276 28% 55%));
    --easing: cubic-bezier(0.66, 0.05, 0.4, 0.9);
    --duration: 300ms;
}

.container {
    margin-inline: max(0px, ((100% - 460px) / 2));
    background: white;
}

.grid {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--duration) var(--easing);
}

.wrapper {
    border-radius: 2px 2px 0 0;
    background: var(--container-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.list {
    min-height: 0;
    margin: 0;
    padding: 0 1.75rem;
    color: #222;
}

.grid.expanded {
    grid-template-rows: 1fr;

    li {
        opacity: 1;
        transition: opacity var(--duration) var(--easing);
        transition-delay: calc(var(--index) * 100ms);
    }
}

.title {
    padding: 0.5rem 1rem;
}

li {
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin: 0 0 0 0.25rem;
    opacity: 0;
    transition-delay: var(--duration);

    &:not(:last-child) {
        box-shadow: 0px 1px 0px rgb(225, 225, 225, 0.7);
    }

    &::marker {
        content: '🐧 ';
    }
    &:nth-child(2)::marker {
        content: '🏄‍♂️ ';
    }
    &:nth-child(3)::marker {
        content: '🤔 ';
    }
    &:nth-child(4)::marker {
        content: '🧦 ';
    }
}

.icon {
    width: 8px;
    height: 8px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    margin-right: 1rem;
    transform: rotateZ(-45deg);
    transform-origin: center;
    transition: transform 0.3s cubic-bezier(0.66, 0.05, 0.4, 0.9);

    &.expanded {
        transform: rotateZ(45deg);
    }
}

body {
    width: 100%;
    height: 100vh;
    color: white;
    padding-block-start: 2rem;
    background: var(--page-bg);
    font-family: 'Nunito', arial;
}
